.App {
  text-align: center;
  height: 100vh;
}

.App__main-screen {
  min-height: 90vh;
}

.App__button-cont {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.App__button {
  margin: 20px;
  font-size: 36px;
}